@font-face {
  font-family: Wfrp3Lib;
  src: url("WFRP3LiberationSerif-Regular.woff") format('woff');
}

@font-face {
  font-family: Wfrp3Lib;
  src: url("WFRP3LiberationSerif-Bold.woff") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: Wfrp3Lib;
  src: url("WFRP3LiberationSerif-BoldItalic.woff") format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Wfrp3Lib;
  src: url("WFRP3LiberationSerif-Italic.woff") format('woff');
  font-style: italic;
}

html {
  height: 100%;
  overflow-y: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.holy_grail_header, .holy_grail_footer {
  padding: 8px;
  height: 40px;
  background-color: #333333;
  position: absolute;
}

.holy_grail_middle {
  position: absolute;
}

.sidenav {
  width: 15%;
  background-color: #E0F8F8;
  overflow-x: hidden;
  padding-top: 20px;
  position: absolute;
}

details {
  border: 2px solid #aaa;
  border-radius: 2px;
  padding-left: 20px;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding-left: 20px;
}

details[open] summary {
  border-bottom: 2px solid #aaa;
  margin-bottom: 0.5em;
}

.master_div {
  width: 50%;
  position: absolute;
}

.editor_master {
  position: absolute;
}

.editor_div {
  width: 100%; height: 100%;
  overflow-y: scroll;
  position: relative;
}

.canvas_div {
  font-family: Wfrp3Lib;
  background-color: #FFF;
  height: 90%;
  position: absolute;
}

.below_canvas_sliders {
  font-family: Wfrp3Lib;
  background-color: #FFE;
  position: absolute;
  display: flex;
  align-items: stretch;
}

.below_canvas_div {
  font-family: Wfrp3Lib;
  background-color: #FEF;
  position: absolute;
  display: flex;
  align-items: stretch;
}

.sidenav a {
  padding: 4px 8px 4px 2em;
  background-color: #B0E0E0;
  text-decoration: none;
  font-size: 12px;
  line-height: 1em;
  display: block;
  text-indent: -1em; /* To make second line appear with indent */
}

.sidenav a:hover, .offcanvas a:focus{
  color: #4C0B5F;
}

.action_div {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex: 4 4 50%;
}

.action_editor {
  font-family: Wfrp3Lib;
  font-size: 14px;
  background-color: #DDD;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex: 4 4 50%;
}

.card_effect_editor {
  text-align: left;
  border: 1px solid black;
  border-radius: 0px;
}

.wh-controls-small {
  font-size: 12px;
}

/* Bootstrap button outline override */
.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all .25s;
}

.btn-primary.btn-outline {
  color: #428bca;
}

.btn-success.btn-outline {
  color: #5cb85c;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}

.btn-primary.btn-outline.active,
.btn-success.btn-outline.active,
.btn-info.btn-outline.active,
.btn-warning.btn-outline.active,
.btn-danger.btn-outline.active {
  color: #fff;
}

.btn-group.btn-group-full-width {
  display: flex;
}

.btn-group-full-width .btn {
  flex: 1
}

/* Changing padding and line height of radio buttons on modal */
.btn-padding {
  padding: 3px;
  line-height: 100%;
}

.btn-sz {
  padding: 3px 6px;
  line-height: 100%;
}

.btn-multiline {
  white-space: normal;
}

.btn-whs {
  -webkit-text-fill-color: black;
  background-color: #888;
  padding: 0px 12px;
  font-family: Wfrp3Lib;
  font-size: 24px;
}

.btn-whs-small {
  font-size: 16px;
  padding: 0px 3px;
}

.btn-whs:hover {
  background-color: #AAA;
}

.btn-whs-glow {
  text-shadow: -1px -1px white, 1px -1px white, -1px 1px white, 1px 1px white,
               -2px  0px white, 0px -2px white,  0px 2px white, 2px 0px white;
}

.btn-whs-white-glow {
  text-shadow: -2px -2px white, 2px -2px white, -2px 2px white, 2px 2px white,
               -3px  0px white, 0px -3px white,  0px 3px white, 3px 0px white;
}

.btn-whs-black-glow {
  text-shadow: -2px -2px black, 2px -2px black, -2px 2px black, 2px 2px black,
               -3px  0px black, 0px -3px black,  0px 3px black, 3px 0px black;
}

.disable-a-href {
  pointer-events: none;
}

.tooltip-inner {
  color: black;
  background: yellow;
  font: 14px Wfrp3Lib;
  text-align: left;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 2px solid black;
  width: 200%;
  max-width: 100%;
}

.tooltip.in {
  opacity: 1 !important;
}
